<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mon cv
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mon cv</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page">

Feel the CV experiences flow through you
<ion-card>
  <ion-card-header>
    <ion-card-title>mon experience 1</ion-card-title>
    <ion-card-subtitle>debut - fin experience (mon entreprise)</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
description of experience
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>mon education 1</ion-card-title>
    <ion-card-subtitle>debut - fin education (diploma) (school)</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
description of education
  </ion-card-content>
</ion-card>


</app-explore-container>
</ion-content>
